# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.env
venv/
.venv/
env/

# Temp uploads
backend/temp_uploads/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
